<div class="card add-lista">
    <h5 class="card-header">Filtrar cliente</h5>
    <div class="card-body">
        <!--<form id="add-form" [formGroup]="formularioCadastroCliente" (ngSubmit)="f.form.valid && enviarFormularioFiltro(f)" #f="ngForm" novalidate>-->
            <form #f="ngForm" (ngSubmit)="enviarFormularioFiltro(f)" novalidate>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm">
                        <div ngModelGroup="filter" #formNomeCtrl="ngModelGroup">
                            <label for="nome">Nome</label>
                            <input class="form-control" type="text" name="nome" [ngModel]="filter">
                            <!-- [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }">
                            <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                                <div *ngIf="model.errors.required">Modelo é obrigatório</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm">
                        <div ngModelGroup="filter" #formTelefoneCtrl="ngModelGroup">
                            <label for="telefone">Telefone</label>
                            <input class="form-control" type="number" name="telefone" [ngModel]="filter">
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm">
                    <div ngModelGroup="filter" #formRGCtrl="ngModelGroup">
                        <label for="rg">RG</label>
                        <input class="form-control" type="number" name="rg" [ngModel]="filter">
                    </div>
                </div>
                <div class="col-sm">
                    <div ngModelGroup="filter" #formCPFCtrl="ngModelGroup">
                        <label for="cpf">CPF</label>
                        <input class="form-control" type="number" name="cpf" [ngModel]="filter">
                    </div>
                </div>
            </div>
        </div>
        <div class=text-right>
            <button type="submit" class="btn btn-danger" float="right" name="btn-filtrar-cliente">Filtrar</button>
            <button type="reset" class="btn btn-light ml-1" float="right" name="btn-limpar-form" (click)="cleanForm(f)">Limpar</button>
        </div>
        </form>
    </div>
  </div>

<div class="card lista">
    <h5 class="card-header">Lista de Clientes</h5>
    <div class="card-body">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">RG</th>
            <th scope="col">CPF</th>
            <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of listaClientes">
            <td>{{ c.nome }}</td>
            <td>{{ c.telefone }}</td>
            <td>{{ c.rg }}</td>
            <td>{{ c.cpf }}</td>
            <td>
                <button type="button" class="btn btn-light btn-sm">Editar</button> <!-- (click)="editCar(car)" -->
                <button type="button" class="btn btn-danger btn-sm ml-1">Deletar</button> <!-- (click)="deleteCar(car)"-->
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>