<div class="container">
  <div class="header">
    <nav>
      <a class="active" routerLink="/" routerLinkActive="active">Home</a>
      <a [routerLink]="['/cadastro-cliente/lista']">Clientes</a>
      <a [routerLink]="['/cadastro-funcionario/lista']">Funcionários</a>
      <img style="float:right" src="assets/images/Logo.png" alt="Logo Arigato">
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>Arigatô Pastéis</p>
    <p>Rua Itália, 3479 (esquina com Av. 42) - Araraquara - SP</p>
    <p>(16) 3336-0291 | (16) 3461-3192</p>
    <p>© 2020 Copyright - Daniel Assunção</p>
  </div>
</div>  